<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BitcoinVs</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <main>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <section id="top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#current">Current</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bitcoinvs">BTCvs</a></li>
                            <li class="nav-item"><a class="nav-link" href="#dcacalculator">DCA Calculator</a></li>
                            <li class="nav-item"><a class="nav-link" href="#historical">Historical</a></li>
                            <li class="nav-item"><a class="nav-link" href="#news">News</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
                </section>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Welcome to BitcoinVS!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Compare any asset to bitcoin, calculate dollar cost averaging (DCA) scenarios, and view historical data and current news!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#bitcoinvs">Get Started</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="https://github.com/JGGHalfhide/BitcoinVS" target="_blank">View Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-xxl-4 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="static/images/bitcoin-logo.svg" alt="bitcoin logo" /></div>
                    </div>
                </div>
            </header>

            <!-- BTC ticker-->
<div class="d-flex justify-content-center align-items-center" style="margin-top: 0px; background-color: #FFA500;">
    <h2 class="fw-bolder mx-3">Current Bitcoin Price: ${{ current_price }}</h2>
</div>
            <!-- Current BTC market section-->
            <section id="current">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">BTC at a Glance</h2>
                                <p class="lead fw-normal text-muted mb-5">Intraday bitcoin price chart.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- BTCvs section-->
             <section id="bitcoinvs">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Bitcoin Vs</h2>
                                <p class="lead fw-normal text-muted mb-5">Compare bitcoin with any asset over a given timespan. Just specify the asset's ticker symbol, start/end dates, and total capital invested. (BTC data available for last 10 years).</p>
                            </div>
                        </div>
                    </div>
                    <!-- Search box -->
                    <div class="d-flex justify-content-center">
<form id="searchForm" action="{{ url_for('home') }}" method="post">
    <label for="searchTerm">Find company ticker:</label>
    <input type="text" id="searchTerm" name="searchTerm" placeholder="Enter company name">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
                    </div>
<!-- Display search results -->
<div class="d-flex justify-content-center">
    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>{{ result["Company Name"] }} , ticker={{ result["Ticker"] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <!-- Display a message when there are no search results -->
        <p>No matching companies found.</p>
    {% endif %}
</div>
                      <!-- BTCvs form-->
                    <div class="d-flex justify-content-center">
                    <form id="btcvsform" action="{{ url_for('home') }}" method="post">
    <label for="inputValue1">Asset name:</label>
    <input type="text" id="inputValue1" name="inputValue1" placeholder="Enter stock ticker" required><br>
<br>
    <label for="inputValue3">Start date:</label>
    <input type="date" id="inputValue3" name="inputValue3" min="2014-01-01" required><br>
    <br>
                        <label for="inputValue4">End date:</label>
    <input type="date" id="inputValue4" name="inputValue4" min="2014-01-02" required><br>
    <br>
                        <label for="inputValue2">USD invested:</label>
    <input type="text" id="inputValue2" name="inputValue2" pattern="[0-9]+" placeholder="Enter number only"required><br>
<br>
                        <div class="text-center">
    <button type="submit" class="btn btn-secondary">Compare</button>
                        </div>
</form>
                </div>
                </div>
             </section>
<!-- Display BTC vs result message -->
<div class="d-flex justify-content-center">
    {% if btc_vs_results %}
        <p style="text-align: center; margin-top: 20px;">
            {{ btc_vs_results }}
        </p>
    {% endif %}
</div>
        <!-- DCA calculator section-->
    <section id="dcacalculator" style="margin-bottom: -20px;">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">DCA Calculator</h2>
                        <p class="lead fw-normal text-muted mb-5">Dollar cost averaging (DCA) calculator to show ROI, dollar, and BTC returns for given timespan and capital invested.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- DCA calculator form-->
    <div class="d-flex justify-content-center">
        <form id="dcaForm" action="{{ url_for('home') }}" method="post">
            <label for="inputValue5">Start date:</label>
            <input type="date" id="inputValue5" name="inputValue5" min="2010-01-01" required><br>
<br>
            <label for="inputValue6">End date:</label>
            <input type="date" id="inputValue6" name="inputValue6" min="2010-01-02" required><br>
<br>
            <label for="inputValue7">USD invested per period:</label>
            <input type="number" id="inputValue7" name="inputValue7" placeholder="Enter number only" required><br>
<br>
            <label for="dropdown">Investment frequency:</label>
            <select id="dropdown" name="selectedOption">
                <option value="1d">Daily</option>
                <option value="1wk">Weekly</option>
                <option value="1mo">Monthly</option>
                <option value="lump">Lump sum</option>
            </select><br>
<br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-secondary">Calculate</button>
            </div>
        </form>
    </div>

<!-- Display DCA result message -->
<div class="d-flex justify-content-center">
    {% if dca_result_message %}
        <p style="text-align: center; margin-top: 20px;">
            {{ dca_result_message | replace("Final dollar value:", "<strong>Final dollar value:</strong>") |
               replace("USD return:", "<strong>USD return:</strong>") |
               replace("Total BTC:", "<strong>Total BTC:</strong>") |
               replace("ROI:", "<strong>ROI:</strong>") | safe }}
        </p>
    {% endif %}
</div>
        <!-- historical section-->

            <section id="historical">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Historical BTC Price Data</h2>
                                <p class="lead fw-normal text-muted mb-5">BTC historical price panda df.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- News section-->
            <section id="news">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Recent Bitcoin News</h2>
                                <!-- function for retrieving 3 latest links-->
                                <div class="article-container bg-light p-3 mb-3">
                                {% for article in articles %}
                        <h3>{{ article['title'] }}</h3>
                        <p>{{ article['description'] }}</p>
                        <a href="{{ article['link'] }}" target="_blank">{{ article['link'] }}</a>
                        <hr>
                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <a class="link-light small" href="#top">Go to top</a>
                    </div>
                    <div>
                        <a class="link-light small" href="https://github.com/JGGHalfhide/BitcoinVS" target="_blank">View Source Code</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</main>
</html>



